<meta charset="utf-8" />
<meta content="Watch multiple Twitch streams in your browser." name="description" />
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<title>ManyTwitch - Watch multiple Twitch streams</title>
<link rel="stylesheet" media="all" href="/style/bootstrap.min.css">
<link rel="stylesheet" media="all" href="/style/manytwitch.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/handlebars.min.js"></script>
<script src="js/manytwitch.js"></script>
{{> analytics }}