:root {
  --purple-bg-color: rgb(100, 65, 164);
  --purple-bg-color-hover: rgb(159, 138, 199);
  --purple-form-control-hover: rgb(182, 101, 226);
}

html, body {
  background-color: #000;
}

a {
  text-decoration: none;
}

.form-control:focus {
  border-color: --purple-form-control-hover;
  box-shadow: 0 0 0 0.2rem rgba(124, 31, 246, 0.25);
} 

#container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#container #manage-btn {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

#container #manage-btn #manage-btn-actual {
  opacity: 0.75;
}

#streams {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

#default {
  margin: 0 auto;
  display: block;
  margin-top: 10rem;
  max-width: 30rem;
  text-align: center;
}

#default a {
  color: rgb(7, 209, 157);
}

#streams div {
  display: inline-block;
}

#streams-modal table#streams-list {
  font-size: 1.25rem;
}

#streams-modal table#streams-list tbody#streams-list-tbody tr td {
  padding: 1rem;
}

#streams-modal table#streams-list tbody#streams-list-tbody tr:hover {
  background-color: var(--purple-bg-color);
}

#streams-modal table#streams-list tbody tr:last-of-type {
  border-bottom: transparent;
}

.btn-purple {
  background-color: var(--purple-bg-color);
  color: rgb(255, 255, 255) !important;
}

.btn-purple:hover {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  background-color: var(--purple-bg-color-hover);
}

#footer {
  text-align: center;
}

#changelog li {
  font-size: 1rem;
}

#psod-modal img {
  max-width: 99%;
  max-height: 99%;
}

#privacy-modal-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}