<div id="about-modal" 
     class="modal fade" 
     tabindex="-1" 
     role="dialog">
  <div class="modal-dialog" 
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">About ManyTwitch...</h4>
        <button type="button" 
                class="close btn btn-secondary"
                data-bs-dismiss="modal" 
                aria-label="Close"
                title="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p class="strong">Enjoying ManyTwitch?</p>
        <p>This is an app I built because I wanted a new project and the ability to watch multiple Twitch streams from wherever I was. Then, I decided to rebuild it and put it up online for others to use. I wanted the app to be super simple to use and hopefully, I've achieved that. Of course, this app will always be free. I don't run ads. I don't collect information about you or who you're watching. If you enjoy using this app, please consider donating a dollar or two to help keep it running. Thanks for reading! -- Antillian</p>
        <br />
        <p class="text-center strong">Click below to support ManyTwitch!</p>
        <div class="d-grid gap-2">
          <a href="https://ko-fi.com/antillian"
             title="Donate to Antillian! (Opens a new tab)"
             class="btn btn-lg btn-success"
             target="_blank">
             Donate!&nbsp;<i class="fa fa-heart"></i>
          </a>
        </div>
      </div>
      <div class="modal-footer" 
           style="display: none;">        
      </div>
    </div>
  </div>
</div>