<div id="manage-btn">
  <button id="share-url"
          type="button"
          class="btn btn-sm btn-purple"
          data-bs-toggle="modal"
          data-bs-target="#share-modal"
          title="Get a URL to share these streams.">
    <i class="fas fa-share"></i>
  </button>
  <button id="manage-btn-actual"
          type="button"
          class="btn btn-sm btn-purple"
          data-bs-toggle="modal"
          data-bs-target="#streams-modal"
          title="Manage the streams you are currently watching.">
    <i class="fas fa-tv"></i>
  </button>
</div>