<div class="modal fade" 
     tabindex="-1" 
     role="dialog" 
     id="changelog-modal">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Changelog</h5>
        <button type="button" 
                class="close btn btn-secondary" 
                data-bs-dismiss="modal" 
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="changelog">
          <%- include('changelog'); %>
        </div>
        <hr />
        ManyTwitch is inspired by 
        <a href="https://github.com/bhamrick/multitwitch" 
           target="_blank"
           rel="nofollow">
          Multitwitch
        </a>.
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>