<h4>Version 1.0.5 - (11/28/2021)</h4>
<ul>
  <li>Add the changelog.</li>
  <li>Use EJS.</li>
  <li>Some other refactoring.</li>
  <li>For now, don't append streams to the URL.</li>
  <li>Lots of tiny tweaks.</li>
</ul>