<h4>Version 1.2.2 - (12/14/2021)</h4>
<ul>
  <li>Underlying tweaks and optimizations.</li>
</ul>

<br />

<h4>Version 1.2.1 - (12/13/2021)</h4>
<ul>
  <li>More work on PWA support.</li>
</ul>

<br />

<h4>Version 1.2.0 - (12/13/2021)</h4>
<ul>
  <li>PWA Support (beta.)</li>
  <li>Make the changelog and psod modals full screen.</li>
</ul>

<br />

<h4>Version 1.1.0 - (12/12/2021)</h4>
<ul>
  <li>NEW! You can now add streams via the address bar.</li>
</ul>

<br />

<h4>Version 1.0.9 - (12/12/2021)</h4>
<ul>
  <li>Lots of tiny tweaks and optimizations.</li>
  <li>Changelog modal now scrolls!</li>
  <li>Added PSOD (purple screen of death) warning.</li>
</ul>

<br />

<h4>Version 1.0.8 - (12/11/2021)</h4>
<ul>
  <li>On the stream manager, press Enter to add a stream and enter another.</li>
</ul>

<br />

<h4>Version 1.0.7 - (12/05/2021)</h4>
<ul>
  <li>Tweaks and optimizations for a smoother experience.</li>
</ul>

<br />

<h4>Version 1.0.6 - (11/28/2021)</h4>
<ul>
  <li>Add Google Analytics.</li>
</ul>

<br />

<h4>Version 1.0.5 - (11/28/2021)</h4>
<ul>
  <li>Add the changelog.</li>
  <li>Use EJS.</li>
  <li>Some other refactoring.</li>
  <li>For now, don't append streams to the URL.</li>
  <li>Lots of tiny tweaks.</li>
</ul>