<div id="default-content-container"
     class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div id="default"
       class="card border-secondary mb-3">
    <h3 class="card-header">Welcome to ManyTwitch</h3>
    <div class="card-body">
      <div class="card-text">
        <div class="d-grid gap-2">
          <button type="button"
                  class="btn btn-lg btn-purple"
                  data-bs-toggle="modal"
                  data-bs-target="#streams-modal"
                  title="Let's-a go!">
            <i class="fa-solid fa-tv"></i>&nbsp;&nbsp;Let's Watch!
          </button>
        </div>
      </div>
    </div>
    <p style="padding: 0 20px;">Watch multiple Twitch streams on your device!</p>
  </div>
  <div id="disclaimer"
       class="text-muted">
    ManyTwitch is not affiliated with <i class="fab fa-twitch"></i>&nbsp;<i class="fab fa-amazon"></i>.
    <br />
    Created by 
    <a href="https://twitter.com/antillian_"
       target= "_blank"
       title="antillian on Twitter.">antillian</a>
  </div>
</div>