<div id="default" 
     class="card border-secondary mb-3"
     style="background-color: #303030;">
  <h3 class="card-header">Welcome to ManyTwitch</h3>
  <div class="card-body">
    <div class="card-text">
      <div class="d-grid gap-2">
        Click the Streams button to get started!  
        <br />
        <button type="button"
                class="btn btn-lg btn-purple"
                data-bs-toggle="modal"
                data-bs-target="#streams-modal"
                title="Manage the streams you're currently watching."
                style="padding: 1rem;">
          <i class="fas fa-tv"></i>&nbsp;&nbsp;Streams
        </button>
      </div>
    </div>
  </div>
  <div id="footer"
       class="card-footer">
    <a href="javascript:;" 
        data-bs-toggle="modal" 
        data-bs-target="#changelog-modal"
        title="Click to view the changelog.">
        v<%= version %> (build <%= buildId %>)
    </a>
    &CenterDot;
    <a href="javascript:;"
       data-bs-toggle="modal"
       data-bs-target="#psod-modal"
       title="Click for more information.">
       PSOD Notice
    </a>
    &CenterDot;
    <a href="javascript:;"
       data-bs-toggle="modal"
       data-bs-target="#privacy-modal"
       title="Click for more information.">
      Privacy Notice
    </a>
    <br />
    Created by 
    <a href="https://twitter.com/antillian_"
       target= "_blank"
       title="Antillian on Twitter">Antillian</a>
  </div>
</div>