<div id="default-content-container" class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div id="default" class="card border-secondary mb-2">
      <h3 class="card-header">Welcome to ManyTwitch</h3>
      <div class="card-body">
        <div class="card-text">
          <p class="lead">
            Watch multiple Twitch streams
          </p> 
          <div class="d-grid gap-2">
            <button type="button"
                    class="btn btn-lg btn-purple"
                    data-bs-toggle="modal"
                    data-bs-target="#streams-modal"
                    title="Let's-a go!"
                    aria-label="Let's-a go!">
              <i class="fa-solid fa-tv"></i>
              &nbsp;Let's Go!
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="created">
      Created by
      <a href="https://mastodon.social/@antillian" 
          target="_blank" 
          title="antillian on Mastodon."
          rel="me"
          aria-label="antillian on Mastodon.">
        antillian
      </a>
    </div>
</div>