<div id="default-content-container"
		 class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  	<div id="default"
	   		 class="card border-secondary mb-3">
			<h3 class="card-header">Welcome to ManyTwitch</h3>
			<div class="card-body">
	  		<div class="card-text">
					<div class="d-grid gap-2">
						<button type="button"
										class="btn btn-lg btn-purple"
										data-bs-toggle="modal"
										data-bs-target="#streams-modal"
										title="Let's-a go!">
							<i class="fa-solid fa-gamepad"></i>
							&nbsp;Let's Watch!
						</button>
					</div>
	  		</div>
			</div>
			<p style="padding: 0 20px;">Watch multiple Twitch streams on your device.</p>
  	</div>

  	<div id="disclaimer" class="text-muted">
	   	Created by
	   	<a href="https://mastodon.social/@antillian" 
					target="_blank" 
					title="antillian on Mastodon."
					style="text-decoration: underline dashed !important;"
					rel="me">
				antillian
			</a>
  	</div>

		<div id="version-information" class="text-muted">
			<%- version %> (<%- buildId %>)
		</div>

		<div id="mobile-notice"
	  		class="text-center">
			<i class="fa fa-lightbulb"></i>&nbsp;&nbsp;Tip: Save ManyTwitch to your home screen for easy access!
  	</div>

</div>