<div id="donate-modal" 
     class="modal fade" 
     tabindex="-1" 
     role="dialog">
  <div class="modal-dialog <%- isMobile ? 'modal-fullscreen' : '' %>"
       role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title">Enjoying ManyTwitch?</h4>
        <button type="button" 
                class="close btn btn-danger"
                data-bs-dismiss="modal" 
                aria-label="Close"
                title="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>I built ManyTwitch because I wanted to support more of favorite creators on Twitch.<br /><br />It has become my favorite way to consume Twitch. If you enjoy ManyTwitch, please consider donating a buck or two to help keep it running. ManyTwitch will never have ads or collect information about you.<br /><br />Thanks for visiting and I hope you enjoy!</p>
        <br />
        <div class="d-grid gap-2">
          <a href="https://ko-fi.com/antillian"
             title="Donate to ManyTwitch! (Opens a new tab)"
             class="btn btn-lg btn-success"
             target="_blank">
             Support ManyTwitch!&nbsp;<i class="fa fa-heart"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>