<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="Watch multiple Twitch streams in your browser." name="description" />
    <title>ManyTwitch - Watch multiple Twitch streams</title>
    <link rel="stylesheet" media="all" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="stylesheets/manytwitch.css">
    <script src="js/jquery.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="default" class="card border-secondary mb-3">
      <h3 class="card-header">Welcome to ManyTwitch!</h3>
    </div>
  </body>
</html>