<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Watch multiple Twitch streams in your browser." />
  <meta name="keywords" content="manytwitch, many, multitwitch, multi, twitch, player, chat, group, live, stream, multistream" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar" content="#6441a4" />
  <meta name="theme-color" content="#000" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <!-- iPhone X (1125px x 2436px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px)" href="/images/splash-screen.png">
  <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px)" href="/images/apple_splash_750.png">
  <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px)" href="/images/apple_splash_1242.png">
  <!-- iPhone 5 (640px x 1136px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px)" href="/images/apple-touch-icon.png">
  <title><%= appTitle %></title>
  <link rel="manifest" href="/js/pwa.webmanifest" />
  <link rel="stylesheet" media="all" href="/style/font-awesome.min.css">
  <link rel="stylesheet" media="all" href="/style/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="/style/bootstrap-dark.min.css">
  <link rel="stylesheet" media="all" href="/style/manytwitch.css">
  <link rel="stylesheet" media="all" href="/style/all.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/handlebars.js"></script>
  <script src="/js/all.min.js"></script>
  <script src="/js/manytwitch.js"></script>
  <%- include('analytics') %>
</head>