<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="Watch multiple Twitch streams in your browser." name="description" />
    <title>ManyTwitch - Watch multiple Twitch streams</title>
    <link rel="stylesheet" media="all" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" media="all" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="stylesheets/manytwitch.css">
    <script src="js/jquery.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>
    <script defer src="js/handlebars.js"></script>
    <script defer src="js/manytwitch.js"></script>
  </head>
  <body>
    <div id="container">

      <div id="manage-btn">
        <button type='button'
                class='btn btn-sm btn-secondary'
                data-toggle='modal'
                data-target='#streams-modal'>
          <i class='fa fa-television'>&nbsp;</i>Streams
        </button>
      </div>

      <div id="default" class="card border-secondary mb-3">
        <h3 class="card-header">Welcome to ManyTwitch!</h3>
        <div class="card-body">
          <div class="card-text">
            <p>Please click the "Streams" button to get started.</p>
            <button type='button'
                    class='btn btn-secondary'
                    data-toggle='modal'
                    data-target='#streams-modal'
                    title="Manage the streams you're currently watching.">
              <i class="fa fa-television">&nbsp;</i>Streams
            </button>
            <br />
            <br />
            <p id="author">
              By: <a href="https://twitch.tv/antillian"
                     target= "_blank"
                     title="Antillian on Twitch">Antillian</a>.
              &nbsp;ManyTwitch is inspired by <a href="https://github.com/bhamrick/multitwitch" target="_blank">Multitwitch</a>.
            </p>
            <p>Copyright &copy; Antillian. All Rights Reserved.</p>             
          </div>
        </div>
      </div>

      <div id="streams"></div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div id="stream-manager">
    <div id="streams-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Streams...</h5>
            <button type="button" 
                    class="close"
                    data-dismiss="modal" 
                    aria-label="Close"
                    title="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped stream-list" id="streams-list">
              <tbody>
              </tbody>
            </table>
            <form id="new_stream_form" name="new_stream_form">
              <input type="text" 
                     name="new_stream" 
                     id="new_stream" 
                     value="" 
                     placeholder="Add stream..." 
                     class="form-control"
                     onkeyup="ManyTwitch.manager.toggleAddButton();"
                     autocomplete="on" />
            </form>
          </div>
          <div class="modal-footer">
            <a href="https://www.twitch.tv/directory/following/live"
               class="btn btn-purple"
               id="list-on-twitch-btn"
               rel="nofollow"
               target="_blank"
               title="See the list of streamers you're following on Twitch.">
              Following
              <i class="fa fa-external-link"></i>
            </a>
            <button type="button" 
                    class="btn btn-success" 
                    id="add-stream-btn" 
                    onclick="ManyTwitch.streams.addToModalTable($('#new_stream').val()); return false;"
                    title="Add a new stream.">
              <i class="fa fa-plus">&nbsp;</i>Add Stream
            </button>
            <button type="submit" 
                    class="btn btn-primary" 
                    id="save-btn"
                    data-dismiss="modal"
                    title="Save your streams and watch!">
              <i class="fa fa-save">&nbsp;</i>Save
            </button>
            <button type="button" 
                    class="btn btn-secondary" 
                    data-dismiss="modal" 
                    id="cancel-btn"
                    title="Cancel changes.">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">

      $(function() {
        ManyTwitch.manager.setStreams(ManyTwitch.manager.getStreamsFromURL()); // init session storage item.
        ManyTwitch.streams.updateHistory(); // set url path.
        ManyTwitch.streams.update(); // add the streams to the modal and the page.

        $('#streams-modal').modal('handleUpdate');
        $('#streams-modal #new_stream').val('');
        $('#streams-modal #add-stream-btn').attr('disabled', 'disabled');
        var saveBtn = $('#streams-modal #save-btn');
        saveBtn.attr('disabled', 'disabled');

        if ($('.stream').length < 1) {
          saveBtn.attr('disabled', 'disabled');
        }

        $('#streams-modal').on('shown.bs.modal', function(e) {
          $('#streams-list tr').remove();
          $.each(ManyTwitch.manager.getStreams(), function(idx, value) {
            ManyTwitch.streams.addToModalTable(value);
          });
          $('#new_stream').focus();
        });
      });   

      $('#streams-modal #save-btn').on('click', function() {
        var streamsList = $('#streams-modal #streams-list [data-stream-name]');
        var streams = ManyTwitch.manager.getStreams();
        var newStreams = [];

        $.each(streamsList, function(idx, value) {
          var streamName = $(value).data('stream-name');
          if ($(value).is(':checked')) {
            newStreams.push(streamName);
          } else {
            $('tr#tr-'+streamName).remove();
          }
        });

        ManyTwitch.manager.setStreams(newStreams.join(','));
        ManyTwitch.streams.update();
      });

      $('#streams-modal #new_stream').on('paste', function() {
        var addStreamBtn = $('#streams-modal #add-stream-btn');

        if ($(this).length < 1) {
          addStreamBtn.attr('disabled', 'disabled');
        } else {
          addStreamBtn.removeAttr('disabled');
        }
      });

    </script>

    <script id="streams-modal-new-stream-template" type="text/x-handlebars-template">
      <tr id="tr-{{stream}}">
        <td>
          <div>
            <div style="float: left;">
              <input id="streams_" 
                     type="checkbox" 
                     name="streams[]" 
                     value="" 
                     checked="checked"
                     data-stream-name="{{stream}}">
              {{stream}}
            </div>
            <div style="float: right;">
              <a href="javascript:;"
                 onclick="window.open('https://www.twitch.tv/popout/{{stream}}/chat?darkpopout', '', 'width=350,height=500'); return false;"
                 class='btn btn-sm btn-purple'
                 title='Open a chat popout for this stream.'>
                <i class='fa fa-external-link'>&nbsp;</i>Chat
              </a>
            </div>
          </div>
        </td>
      </tr>  
    </script>

    <script id="new-stream-template" type="text/x-handlebars-template">
      <span id="stream-{{stream}}-video">
        <iframe src="https://player.twitch.tv/?muted=true&channel={{stream}}&parent=manytwitch.herokuapp.com"
                frameborder="0"
                allowfullscreen="true"
                scrolling="no"
                class="stream"
                onmousemove="$('#manage-btn').fadeIn(); return false;">
        </iframe>
      </span>
    </script>

  </body>
</html>