<div class="modal fade" 
     id="loading-modal" 
     tabindex="-1" 
     aria-labelledby="loading-modal" 
     aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close btn btn-purple"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" 
           style="text-align: center;">
        <h1>LOADING...</h1>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>