<script id="streams-modal-new-stream-template" 
        type="text/x-handlebars-template">
  <tr id="tr-{{stream}}" 
      class="streams-modal-table-tr"
      data-stream-name="{{stream}}">
    <td colspan="2">
      <div style="float: left; padding-top: 5px;">
        <input id="streams_{{stream}}" 
                type="checkbox" 
                name="streams[]" 
                value="{{stream}}"
                checked="checked"
                data-stream-name="{{stream}}"
                class="form-check-input me-1">
        <label for="streams_{{stream}}">{{stream}}</label>
      </div>
      <div style="float: right;">
        <a href="javascript:;"
            onclick="window.open('https://www.twitch.tv/popout/{{stream}}/chat', '', 'width=350,height=500');"
            class="btn btn-primary"
            title="Open a chat popout for this stream.">
          <i class="far fa-comment-dots"></i>
        </a>
        <a href="https://www.twitch.tv/{{stream}}"
            target="_blank"
            title="Open this stream on Twitch."
            class="btn btn-success">
          <i class="fas fa-globe-americas"></i>
        </a>
      </div>
    </td>
  </tr>  
</script>

<script id="new-stream-template" 
        type="text/x-handlebars-template">
  <span id="stream-{{stream}}-video"
        class="stream"
        data-stream-name="{{stream}}">
    <iframe src="https://player.twitch.tv/?muted=true&channel={{stream}}&parent=manytwitch.app"
            allowfullscreen="true"
            scrolling="no"
            class="stream-iframe"
            title="{{stream}}">
    </iframe>
  </span>
</script>