<script id="streams-modal-new-stream-template" type="text/x-handlebars-template">
  <tr id="tr-{{stream}}">
    <td>
      <div>
        <div style="float: left;">
          <input id="streams_{{stream}}" 
                 type="checkbox" 
                 name="streams[]" 
                 value="{{stream}}" 
                 checked="checked"
                 data-stream-name="{{stream}}">
          <label for="streams_{{stream}}">{{stream}}</label>
        </div>
        <div style="float: right;">
          <a href="javascript:;"
             onclick="window.open('https://www.twitch.tv/popout/{{stream}}/chat', '', 'width=350,height=500'); return false;"
             class='btn btn-sm btn-purple'
             title='Open a chat popout for this stream.'>
            Chat&nbsp;
            <i class='fas fa-external-link-square-alt'></i>
          </a>
          <a href="https://www.twitch.tv/{{stream}}"
             target="_blank"
             title="Open this stream on Twitch"
             class="btn btn-sm btn-purple">
            Open&nbsp;
            <i class='fas fa-globe-americas'></i>
          </a>
        </div>
      </div>
    </td>
  </tr>  
</script>

<script id="new-stream-template" type="text/x-handlebars-template">
  <span id="stream-{{stream}}-video">
    <iframe src="https://player.twitch.tv/?muted=true&channel={{stream}}&parent=manytwitch.herokuapp.com"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            class="stream">
    </iframe>
  </span>
</script>