<div class="modal fade" 
     id="privacy-modal" 
     tabindex="-1" 
     aria-labelledby="privacy-modal" 
     aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" 
            id="privacyModalTitleLabel">
          Privacy Notice
        </h4>
        <button type="button"
                class="close btn btn-purple"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <p>Nothing to see here, really.</p>
        <p>I'm not interested in your data or selling it.</p>
        <p>GLHF.</p>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal">
          Cool
        </button>
      </div>
    </div>
  </div>
</div>