<div class="modal fade" 
     id="psod-modal" 
     tabindex="-1" 
     aria-labelledby="psod-modal" 
     aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" 
            id="psodModalTitleLabel">
          Purple Screen of Death
        </h4>
        <button type="button"
                class="close btn btn-purple"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" 
           style="text-align: center;">
        <div class="alert alert-warning">
          <i class="fa fa-info-circle"></i>
          &nbsp;
          You may encounter this screen when watching streams on this app.
        </div>
        <img src="/images/psod.webp"
             title="Twitch Purple screen of death"
             loading="lazy"
             alt="PSOD example">
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>