<div class="modal fade" 
     id="share-modal" 
     tabindex="-1" 
     aria-labelledby="share-modal" 
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" 
            id="shareModalTitleLabel">
            Share Streams
        </h4>
        <button type="button"
                class="close btn btn-purple"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text"
                 id="history-txt"
                 class="form-control" 
                 value=""
                 aria-label="URL" 
                 aria-describedby="copy-url-btn"
                 readonly>
          <button class="btn btn-primary" 
                  type="button" 
                  id="copy-url-btn"
                  title="Copy this URL to your clipboard."
                  onclick="copyShareUrlToClipboard(); return false;">
            <i class="fas fa-copy"></i>
          </button>
        </div>
        <div id="status-txt"></div>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  const shareModal = document.getElementById('share-modal');
  const shareField = document.getElementById('history-txt');
  const statusText = document.getElementById('status-txt');

  shareModal.addEventListener('shown.bs.modal', (event) => {
    shareField.value = window.location;
    shareField.select();
  });

  shareModal.addEventListener('hidden.bs.modal', (event) => {
    statusText.innerHTML = "";
  });

  function copyShareUrlToClipboard() {
    shareField.select();
    shareField.setSelectionRange(0, 99999); /* For mobile devices */
    navigator.clipboard.writeText(shareField.value);
    statusText.innerHTML = "URL copied!";
  }

</script>