<table id="streams-list"
		class="table
			   table-striped
			   stream-list
			   streams-list-table">
	<thead>
		<tr>
			<th>Active streams</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="streams-list-tbody">
	</tbody>
</table>
<div id="streams-manager-default-content">
	Nothing here. Add some streams!
</div>