<button type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#donate-modal"
        title="About this app."
        aria-label="About this app.">
  <i class="fa-solid fa-heart"></i>
</button>

<button type="button" 
        class="close btn btn-secondary"
        data-bs-dismiss="modal" 
        aria-label="Close"
        title="Close">
  <span aria-hidden="true">
    <i class="fa fa-close"></i>
  </span>
</button>