<button type="button"
        class="btn btn-purple"
        id="list-on-twitch-btn"
        rel="nofollow"
        target="_blank"
        title="See the list of creators you're following on Twitch. Opens a new window."
        onclick="window.open('https://www.twitch.tv/directory/following/live');">
  <i class="fab fa-twitch"></i>
</button>

<button type="button" 
        class="btn btn-success" 
        id="add-stream-btn" 
        onclick="ManyTwitch.manager.addToTable(document.getElementById('new_stream').value);"
        title="Add a new stream."
        disabled=disabled>
  <i class="fa fa-plus"></i>
</button>

<button type="button" 
        class="btn btn-primary" 
        id="save-btn"
        data-bs-dismiss="modal"
        title="Save your streams and watch!"
        disabled=disabled>
  <i class="fa fa-save"></i>
</button>

<button type="button"
        class="btn btn-default btn-warning"
        id="clear-btn"
        title="Clear all streams.">
  <i class="fa fa-eraser"></i>
</button>

<button type="button" 
        class="close btn btn-purple"
        data-bs-dismiss="modal" 
        aria-label="Close"
        title="Close">
  <span aria-hidden="true">&times;</span>
</button>