<button type="button"
				class="btn btn-success"
				data-bs-toggle="modal"
				data-bs-target="#donate-modal"
				title="About this app.">
	<i class="fa-solid fa-heart"></i>
</button>

<button type="button"
				class="btn btn-purple"
				id="list-on-twitch-btn"
				rel="nofollow"
				target="_blank"
				title="See the list of creators you're following on Twitch who are currently live. Opens a new window."
				onclick="MT.manager.openFollowingWindow();">
	<i class="fa-solid fa-user"></i>
</button>

<button type="button" 
				class="btn btn-primary"
				id="save-btn"
				data-bs-dismiss="modal"
				title="Save your changes and watch!"
				disabled>
	<i class="fa fa-save"></i>
</button>

<button type="button" 
				class="close btn btn-danger"
				data-bs-dismiss="modal" 
				aria-label="Close"
				title="Close">
	<span aria-hidden="true">
		<i class="fa fa-close"></i>
	</span>
</button>