<br />

<table id="recents-table"
       class="table
              table-striped
              streams-list-table">
  <thead>
    <tr>
      <th colspan=2>
        Recent streams
        <a href="javascript:;"
           class="btn btn-default btn-danger float-end"
           onclick="MT.manager.removeFromRecentsTable('', true);"
           title="Clear the list of recent streams."
           id="clear-all-recent-streams-btn">
          <i class="fa fa-trash"></i>&nbsp;Clear all
        </a>
      </th>
    </tr>
  </thead>
  <tbody id="recent-streams-list-tbody">
  </tbody>
</table>