<br />
<hr />

<table id="recents-table"
       class="table
              table-striped">
  <thead>
    <tr>
      <td colspan=2>Recent streams</td>
    </tr>
  </thead>
  <tbody id="recent-streams-list-tbody">
  </tbody>
</table>