<button type="button"
        class="btn btn-purple"
        id="list-on-twitch-btn"
        rel="nofollow"
        target="_blank"
        title="See the list of creators you're following on Twitch who are currently live. Opens a new window."
        onclick="window.open('https://www.twitch.tv/directory/following/live');">
  <i class="fab fa-twitch"></i>
</button>

<button type="button" 
        class="btn btn-primary" 
        id="save-btn"
        data-bs-dismiss="modal"
        title="Save your changes and watch!"
        disabled>
  <i class="fa fa-save"></i>
</button>

<button type="button" 
        class="close btn btn-purple"
        data-bs-dismiss="modal" 
        aria-label="Close"
        title="Close">
  <span aria-hidden="true">&times;</span>
</button>