<div id="streams-modal" 
     class="modal" 
     tabindex="-1" 
     role="dialog">
  <div class="modal-dialog modal-fullscreen" 
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stream Manager</h4>
        <button type="button" 
                class="close btn btn-purple"
                data-bs-dismiss="modal" 
                aria-label="Close"
                title="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table 
                      table-striped
                      table-hover
                      stream-list" 
                id="streams-list">
          <tbody id="streams-list-tbody"></tbody>
        </table>
        <form id="new_stream_form" 
              name="new_stream_form">
          <input type="text" 
                 name="new_stream" 
                 id="new_stream" 
                 value="" 
                 placeholder="Add stream..." 
                 class="form-control"
                 onkeyup="ManyTwitch.manager.toggleAddButton();"
                 autocomplete="on"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="none"
                 style="font-size: 1.25rem;" />
        </form>
      </div>
      <div class="modal-footer">
        <a href="https://www.twitch.tv/directory/following/live"
           class="btn btn-purple"
           id="list-on-twitch-btn"
           rel="nofollow"
           target="_blank"
           title="See the list of streamers you're following on Twitch.">
          &nbsp;&nbsp;Following
          <i class="fas fa-globe-americas"></i>
        </a>
        <button type="button" 
                class="btn btn-success" 
                id="add-stream-btn" 
                onclick="ManyTwitch.manager.addToTable(document.getElementById('new_stream').value); return false;"
                title="Add a new stream."
                disabled=disabled>
          <i class="fa fa-plus"></i>&nbsp;Add
        </button>
        <button type="button" 
                class="btn btn-primary" 
                id="save-btn"
                data-bs-dismiss="modal"
                title="Save your streams and watch!"
                disabled=disabled>
          <i class="fa fa-save"></i>&nbsp;Save
        </button>
        <button type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal" 
                id="cancel-btn"
                title="Cancel changes.">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  document.getElementById('new_stream').addEventListener('keypress', function(event) {
    if (event.keyCode === 13) {
      document.getElementById('add-stream-btn').click();
      event.preventDefault();
      return false;
    }
  });

  document.addEventListener('keydown', function(event) {
    if (event.ctrlKey || event.metaKey) {
      switch (String.fromCharCode(event.which).toLowerCase()) {
      case 's':
        event.preventDefault();
        document.getElementById('save-btn').click();
        break;
      }
    }
  });
</script>