<div id="streams-modal" 
     class="modal fade" 
     tabindex="-1" 
     role="dialog">
  <div class="modal-dialog modal-fullscreen" 
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Streams</h4>
        <div class="pull-right">
          <%- include("streamManagerModalActions") %>
        </div>
      </div>
      <div class="modal-body">
        <form id="new_stream_form" 
              name="new_stream_form">
          <div class="input-group mb-3">
            <input type="text" 
                   name="new_stream" 
                   id="new_stream" 
                   value="" 
                   placeholder="Add stream..." 
                   class="form-control"
                   onkeyup="MT.manager.toggleAddButton();"
                   autocomplete="on"
                   autocorrect="off"
                   spellcheck="false"
                   autocapitalize="none"
                   autofocus />
            <button type="button" 
                    class="btn btn-success" 
                    id="add-stream-btn" 
                    onclick="MT.manager.addToTable(document.getElementById('new_stream').value);"
                    title="Add a new stream."
                    disabled=disabled>
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </form>        
        <%- include("streamManagerModalCurrentStreams") %>
        <%- include("streamManagerModalRecentStreams") %>
      </div>
      <div class="modal-footer" style="display: none;">
      </div>
    </div>
  </div>
</div>

<input type="hidden"
       id="order-changed"
       value="false" />

<%- include("aboutModal") %>

<script type="text/javascript">

  let streamsList = document.getElementById("streams-list-tbody");
  let recentStreamsList = document.getElementById("recent-streams-list-tbody");
  let sortable = Sortable.create(streamsList, {
    animation: 100,
    draggable: ".streams-modal-table-tr",
    onEnd: (event) => {
      document.getElementById("order-changed").checked = true;
    }
  });

  document.getElementById("new_stream").addEventListener("keypress", (event) => {
    if (event.keyCode == 13) {
      document.getElementById("add-stream-btn").click();
      event.preventDefault();
      return false;
    }
  });

  document.addEventListener("keydown", (event) => {
    if (event.ctrlKey || event.metaKey) {
      switch (String.fromCharCode(event.which).toLowerCase()) {
      case "s":
        event.preventDefault();
        document.getElementById("save-btn").click();
        break;
      }
    }
  });
</script>