<br />
<hr />

<table id="recents-table"
       class="table
              table-striped">
  <thead>
    <tr>
      <td colspan=2>
        Recent streams
        <a href="javascript:;"
           class="btn btn-sm btn-danger float-end"
           onclick="alert('remove all streams');"
           title="Clear the list of recent streams."
           id="clear-all-recent-streams-btn">
          <i class="fa fa-trash"></i>&nbsp;&nbsp;Clear all
        </a>
      </td>
    </tr>
  </thead>
  <tbody id="recent-streams-list-tbody">
  </tbody>
</table>