html, body {
  background-color: #000;
}

#container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#container #manage-btn {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

#streams {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  float: left;
  background-color: #000;
}

#default {
  margin: 0 auto;
  display: none;
  margin-top: 50px;
  width: 500px;
  text-align: center;
}

#default p {
  font-size: 0.9em;
}

#streams div {
  display: inline-block;
}

#streams-modal .table.stream-list {
  padding-left: 10px;
}

#streams-modal .table.stream-list td:first-of-type {
  border-top: none;
}

.btn-purple {
  background-color: rgb(100, 65, 164);
  color: #fff !important;
}

.btn-purple:hover {
  text-decoration: none;
  color: #fff !important;
  background-color: rgb(159, 138, 199);
}

p#author {
  font-size: 0.7em;
  text-align: center;
  margin: 5px 0;
}